<section class="main-menu">
    <div class="top-menu" style="width: 100%; height: 90px;">
        <div class="container">
            <ul>
                <li>
                    <a href="">
                        <div class="logo"></div>
                    </a>                
                </li>
                <li>
                    <div class="d-flex h-100">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Tìm kiếm...">
                            <a style="text-decoration: none" href="#" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" style="float: right; color: white;
                    vertical-align: middle; font-weight: bold;margin-top: -10px; margin-right: 20px" routerLink="/login">
                        Đăng nhập
                    </a>
                </li>
            </ul>
        </div>     
        
    </div>
</section>
<!-- <div>
    <app-header></app-header>
</div> -->
<section class="body">
        <div class="container">
                <div class="row">
                    <div class="login col-lg-6 offset-lg-3">
                            <form style="margin-left: 30px; margin-right: 30px">
                                    <div class="title-login">
                                        <h4>Chào mừng tới SU'S</h4>
                                    </div>
                                    <div class="form-group" style="margin-top: 15px">
                                        <label for="exampleInputEmail1">Tên</label>
                                        <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Nhập tên">
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email</label>
                                      <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Nhập email">
                                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                            <label for="exampleInputPassword1">Mật khẩu</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Ngày sinh</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 40px; margin-top: 40px" routerLink="/">Đăng ký</button>
                             </form>
                    </div>
                </div>
                
                
            </div>
</section>


